.wrapper {
    display:block;
    overflow:hidden;
    position:relative;
    width:100%
   }
   .wrapper .container {
    max-width:80rem
   }
   .wrapper>.container {
       border-top: 0;        
       padding-bottom: 7.5rem;
       padding-top: 7.5rem;
       position: relative;
        text-align: center;
        padding-bottom:7.5rem;
        padding-top:7.5rem
  }

  .footer {
      text-align: center;
      bottom: 0;
      width: 100%;
      position: fixed;
      background-color: white;
  }