{% extends "base.html" %}
{% block body %}
<main class="wrapper">
    <section class="container">
        <img src="https://media.tenor.com/images/efb16deec2fe8e2612da718245eaeac6/tenor.gif">
        <h1 class="title">404: page not found.</h1>
        <h4>Dude, I have no idea what you're looking for.</h4>
        <a class="button" href="/">Return home</a>
    </section>
</main>
{% endblock %}