{% extends "base.html" %}
{% block body %}
<main class="wrapper">
    <section class="container">
        <h1 class="title">Welcome to blog.katelyn.dev!</h1>
        <p>Here you can find things and stuff</p>
        <a class="button" href="/">Neat! Show me some stuff!</a>
    </section>
</main>
{% endblock %}