{% extends "post.html" %}
{% block title %}Beans{% endblock %}
{% block content %}
<main class="wrapper">

    <section id="loremipsum" class="container">
        <h1 class="title">This is an example post</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras nec molestie tortor. Nullam placerat dolor non
            pretium facilisis. Integer non augue mattis, congue mauris nec, pharetra leo. Orci varius natoque penatibus
            et
            magnis dis parturient montes, nascetur ridiculus mus. Sed blandit metus eu ornare porttitor. Sed non sem sed
            magna posuere scelerisque sed sit amet lectus. Pellentesque neque sem, posuere non vestibulum vitae,
            faucibus eu
            tellus. Fusce purus augue, molestie id tempor sed, consectetur sit amet ipsum. Suspendisse feugiat neque et
            augue dapibus fermentum. Sed dui risus, pellentesque vitae viverra id, dictum id libero. Orci varius natoque
            penatibus et magnis dis parturient montes, nascetur ridiculus mus. Aliquam placerat viverra arcu, ut
            placerat
            ante maximus nec. Ut augue dolor, blandit eget felis in, accumsan facilisis leo. Nullam at massa eu dui
            pulvinar
            sollicitudin vel ac quam.
        </p>

        <p>
            Praesent commodo luctus eros, et dapibus elit tempor a. Vestibulum hendrerit metus non malesuada tempus.
            Suspendisse lacus mauris, congue in nulla in, luctus ultricies mauris. Praesent gravida lobortis vulputate.
            Praesent scelerisque lacinia erat, non semper tellus porta eget. Nam maximus sem non lorem euismod
            dignissim.
            Vivamus non condimentum eros. Donec faucibus, risus cursus congue placerat, odio orci pharetra nisl, ac
            facilisis odio est sed urna.
        </p>

        <p>
            Donec eu lorem maximus odio aliquam fringilla. Nullam eget dolor et lorem viverra interdum. Pellentesque
            habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Suspendisse in pretium
            nibh.
            Nullam massa erat, laoreet at venenatis sit amet, bibendum non ante. Aenean mi ante, maximus a porttitor id,
            varius mollis libero. Etiam at rutrum erat, vel fringilla sapien. Ut est velit, auctor quis ex et, malesuada
            pellentesque massa. Praesent dapibus ut enim at tincidunt. Donec ultrices vulputate nisi quis porta.
        </p>

        <p>
            In vel egestas tellus. Mauris euismod, arcu et maximus tincidunt, mauris neque convallis magna, non
            facilisis
            odio tellus sed augue. Ut sed interdum sem. Sed tincidunt, magna sed lobortis molestie, risus erat auctor
            sem,
            rutrum placerat elit metus eu mauris. Morbi et justo pharetra tortor pellentesque congue et quis mi. Cras
            molestie euismod scelerisque. Sed et tempus leo, et luctus mi. Nam fermentum magna vitae nibh accumsan
            feugiat.
            Integer euismod lacus id lorem porttitor, in consectetur leo consectetur. Nunc at fringilla tortor. Cras
            convallis id purus id ultrices. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere
            cubilia
            curae; Suspendisse vehicula pretium lorem id tristique. Sed molestie velit nec odio faucibus, ac sagittis mi
            imperdiet. Nulla nec augue a risus scelerisque viverra.
        </p>

        <p>
            In fermentum metus tellus, et blandit dui pulvinar non. Vestibulum porta nibh ac mollis laoreet. Nam eget
            libero
            felis. Nulla varius vel leo dictum vestibulum. Sed sit amet risus volutpat, fermentum eros vel, sollicitudin
            diam. Ut urna mauris, rutrum in nisl sit amet, ullamcorper dapibus dolor. Donec feugiat in ante euismod
            iaculis.
            Phasellus hendrerit suscipit mi sed pulvinar. Duis rhoncus, nisl ut elementum tincidunt, dolor ex volutpat
            mauris, eu iaculis velit metus in dolor. Mauris scelerisque tortor arcu, ut fringilla ipsum dapibus nec.
            Suspendisse potenti.
        </p>
        <a class="button" href="#">Learn more</a>
    </section>


</main>
{% endblock %}